## http://stackoverflow.com/questions/26357372/controlling-raspberry-gpio-using-a-config-file
## config.py
## https://wiki.python.org/moin/ConfigParserExamples
## https://docs.python.org/3/library/configparser.html

## Replace values with your own information
[Email]
SmtpServer: smtp.gmail.com
SmtpPort: 25
SmtpUserName: <Your UserName>
SmtpPassword: <Your Password>
# Separate email addresses by semicolons ";"
EmailAddresses: <Your Email Address(es)>
AlertSubject: Sensor Read Failed

[AdafruitIO]
AdafruitIoKey: <Your Adafruit IO Key>

[Programs]
SensorData: /home/pi/getdevval_bb

## Add sections for senors here. If the section starts with "Sensor", it will be picked up and used
## These 9 sections are examples
[SensorRoom1]
I2CAddress: 16
SensorName: Sensor Room 1
AIOFeed_Temperature: room-temperature1
AIOFeed_Humidity: room-humidity1
AIOFeed_Light: room-light1
DataFile: /home/pi/data_room1.txt
LogFile: /home/pi/log_room1.txt
ModelNumber: TS000001
LED_Pin: 11
IsActive: True

[SensorRoom2]
I2CAddress: 17
SensorName: Sensor Room 2
AIOFeed_Temperature: room-temperature2
AIOFeed_Humidity: room-humidity2
AIOFeed_Light: room-light2
DataFile: /home/pi/data_room2.txt
LogFile: /home/pi/log_room2.txt
ModelNumber: TS000001
LED_Pin: 13
IsActive: True

[SensorRoom3]
I2CAddress: 18
SensorName: Sensor Room 3
AIOFeed_Temperature: room-temperature3
AIOFeed_Humidity: room-humidity3
AIOFeed_Light: room-light3
DataFile: /home/pi/data_room3.txt
LogFile: /home/pi/log_room3.txt
ModelNumber: TS000001
LED_Pin: 15
IsActive: True

[SensorWarm1]
I2CAddress: 32
SensorName: Sensor Warm 1
AIOFeed_Temperature: warm-temperature1
AIOFeed_Humidity: warm-humidity1
AIOFeed_Light: warm-light1
DataFile: /home/pi/data_warm1.txt
LogFile: /home/pi/log_warm1.txt
ModelNumber: TS000001
LED_Pin: 22
IsActive: False

[SensorWarm2]
I2CAddress: 33
SensorName: Sensor Warm 2
AIOFeed_Temperature: warm-temperature2
AIOFeed_Humidity: warm-humidity2
AIOFeed_Light: warm-light2
DataFile: /home/pi/data_warm2.txt
LogFile: /home/pi/log_warm2.txt
ModelNumber: TS000001
LED_Pin: 18
IsActive: False

[SensorWarm3]
I2CAddress: 34
SensorName: Sensor Warm 3
AIOFeed_Temperature: warm-temperature3
AIOFeed_Humidity: warm-humidity3
AIOFeed_Light: warm-light3
DataFile: /home/pi/data_warm3.txt
LogFile: /home/pi/log_warm3.txt
ModelNumber: TS000001
LED_Pin: 16
IsActive: False

[SensorCold1]
I2CAddress: 48
SensorName: Sensor Cold 1
AIOFeed_Temperature: cold-temperature1
AIOFeed_Humidity: cold-humidity1
AIOFeed_Light: cold-light1
DataFile: /home/pi/data_cold1.txt
LogFile: /home/pi/log_cold1.txt
ModelNumber: TS000001
LED_Pin: 12
IsActive: False

[SensorCold2]
I2CAddress: 49
SensorName: Sensor Cold 2
AIOFeed_Temperature: cold-temperature2
AIOFeed_Humidity: cold-humidity2
AIOFeed_Light: cold-light2
DataFile: /home/pi/data_cold2.txt
LogFile: /home/pi/log_cold2.txt
ModelNumber: TS000001
LED_Pin: 10
IsActive: False

[SensorCold3]
I2CAddress: 50
SensorName: Sensor Cold 3
AIOFeed_Temperature: cold-temperature3
AIOFeed_Humidity: cold-humidity3
AIOFeed_Light: cold-light3
DataFile: /home/pi/data_cold3.txt
LogFile: /home/pi/log_cold3.txt
ModelNumber: TS000001
LED_Pin: 8
IsActive: False

